git+https://github.com/huggingface/diffusers
diffusers>=0.5.0
accelerate
torchvision
#transformers>=4.21.0
ftfy
tensorboard
modelcards

GitPython
omegaconf
einops
pytorch-lightning==1.6.5
test-tube
transformers
kornia
git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
git+https://github.com/openai/CLIP.git@main#egg=clip
setuptools==65.5.1
pillow==10.3.0
torchmetrics==0.6.0
protobuf==3.20.2
#diffusers["training"]==0.3.0
transformers
ftfy
#"ipywidgets>=7,<8"
huggingface_hub
ipywidgets==7.7.1
captionizer==1.0.1
pyocclient
markupsafe==2.0.1